html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*my own css starts from here*/
:root{
    --txt-color:white;
    user-select: none;
}
.parentDiv{
    display:flex;
    flex-direction: row;
    flex: 1,1,auto;
}
.first_half{
    background-image: url(images/bgimage.jpg);
    background-size: 37.5vw 100vh;
    width: 37.5vw;
    height:100vh;
    color:var(--txt-color);
}
.logo{
    margin-top:7vh;
    height: min-content;
    width: inherit;
    background-color: rgba(65, 66, 65, 0.315);
}
.thelogo{
    margin-left:14.8vw;
    width: 6vw;
    height:14.4vh;
}

.dot{
    font-size:64px;
    margin-top:11vh;
    margin-left:18.07vw;
}
.name{
    margin-top:3.0vh;
    font-size:48px;
    margin-left:12.86vw;
    font-weight: 800;
}
.tagline{
    font-size: 32px;
    margin-top: 44.6vh;
    margin-left: 11.4vw;
    font-style: italic;
    font-weight: bold;
}
/*first half's css ends here
second half's css begins*/

.second_half{
    background-color: rgba(9, 14, 22, 0.963);
    width: 67.5vw;
    color:var(--txt-color);
}
.story{
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    width:42.9vw;
    height:9.5vh;
    margin-top:7.1vh;
    margin-left:9.3vw;
}
.sup{
    font-size: 32px;
    font-weight: 800;
    margin-left: 9.1vw;
    margin-top:8.5vh;
    margin-bottom: 3.42vh;
}
form{
    font-size: 22px;
    margin-left:2vw;
    padding-left:7.34vw;
    width: 46vw;
    text-align: left;
}
.myForm{
    padding-bottom: 8.33vh;
    background-color: rgba(9, 14, 22, 1);
    border:solid 1px rgba(0, 0, 0, 0.164);
    box-shadow: 0px 3px rgba(255, 255, 255, 0.444);
}
input[type="text"],input[type="password"], input[type="number"]{
    border-radius: 15px;
    border: 3px solid rgba(91, 70, 70, 1);
    width: 662px;
    height: 35px;
    font-size: 19px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.935);
}
input:not(input[type="radio"]):focus{
    border-color:blue;
    box-shadow: 4px 4px rgba(120, 10, 10, 0.729);
}
form li + li {
    margin-top: 1em;
  }
input[type="password"]:invalid{
    border-color: red;
}
.butt{
    width: 13.8vw;
    height:5.3vh;
    margin-top: 3.42vh;
    margin-left:9.34vw;
}
label>button{
      color:black;
      font-size: 22px;
      border-radius: 10px;
      text-align: center;
      background-color: rgba(197, 196, 194, 1);
      font-weight: bold;
      width:13.8vw;
      height:5.3vh;
      border:solid 2px rgba(91, 70, 70, 1);
      letter-spacing: 1.3px;
      transition: height 0.18s;
  }
  label>button:hover{
      background-color:rgba(197, 196, 194, 0.861) ;
      box-shadow: 0px 4px rgba(128, 128, 128, 0.361);
      transform: scale(1.02);
  }
  label>button:active{
    box-shadow: inset 3px 3px 6px #1311118a,
                inset -3px -3px 6px #1311118a;
  }